* {
    box-sizing: border-box;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
  "SF Pro Text", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #141414;
    /*background: var(--tg-theme-bg-color, #141414);*/
    color: var(--tg-theme-text-color, #000000);
}

.title {
    text-align: center;
}

.search-bar {
    text-align: center;
}

.search-bar #search-input {
    color: white;
    background-color: #1c1c1c;
    border: none;
    border-style: none;
    outline: none;
    padding: 20px 20px 20px 30px;
    border-radius: 100px;
    width: 337px;
    font-size: 1em;
}

.app {
    background-color: rgba(255, 255, 255, 0.01);
    min-height: 70vh;
    margin-top: 16px;

    display: flex;
    margin: 24px;
    flex-direction: row;
    padding: 20px;
    border-radius: 17px;
}

.song {
    display: flex;
    gap: 15px;
}

.song img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

.song-info {
    display: flex;
    flex-direction: column;
    transform: translateY(10px);
}

.song-title {
    margin: 0;
    font-size: 1rem;
}

.author {
    margin: 4px 0 0;
    opacity: 0.6;
    font-size: 0.9rem;

}