@font-face {
    font-family: "SF Pro Rounded";
    src: url("assets/fonts/SF-Pro-Display-Semibold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("assets/fonts/SF-Pro-Display-Medium.otf");
    font-weight: 500;
}

* {
    box-sizing: border-box;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
  "SF Pro Text", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #141414;
    /*background: var(--tg-theme-bg-color, #141414);*/
    color: var(--tg-theme-text-color, #000000);
}

.title {
    text-align: center;
}

.search-bar {
    text-align: center;
}

.search-bar #search-input {
    color: white;
    background-color: #1c1c1c;
    border: none;
    border-style: none;
    outline: none;
    padding: 20px 20px 20px 30px;
    border-radius: 100px;
    width: 337px;
    font-size: 1em;
}

.app {
    background-color: rgba(255, 255, 255, 0.01);
    min-height: 56vh;
    margin-top: 16px;

    display: flex;
    margin: 24px;
    flex-direction: column;
    padding: 20px;
    border-radius: 17px;
    gap: 12px;
}

.song {
    display: flex;
    gap: 15px;
}

.song img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

.song-info {
    display: flex;
    flex-direction: column;
    transform: translateY(10px);
}

.song-title {
    margin: 0;
    font-size: 1rem;
}

.author {
    margin: 4px 0 0;
    opacity: 0.6;
    font-size: 0.9rem;
}

.categories {
    background-color: rgba(1, 1, 1, 0.10);
    min-height: 10vh;
    display: flex;
    margin: 24px;
    border-radius: 25px;
    gap: 25px;
    justify-content: center;
    
}

.category {
    align-content: center;
}

.category h3 {
    font-size: 0.8em;
    color: gray;
    cursor: pointer;
    font-family: "SF Pro Rounded", sans-serif;
    font-weight: 500;
}

.selected h3 {
    color: white;
    background-image: linear-gradient(to right, #482765, #9253FF);
    padding: 11px 24px;
    border-radius: 100px;
    font-family: "SF Pro Rounded", sans-serif;
    font-weight: 600;
}